@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Программа учет ремонта оборудования</h1>
    <p>
        Приложение <span style="font-weight:700">"Учет ремонта оборудования"</span> имеет множество полезных функций и преимуществ, которые делают его ценным инструментом для организаций, занимающихся эксплуатацией и обслуживанием оборудования. Вот некоторые из них:
        <div style="text-align:start; font:25px;">
            <ol>
                <li><span style="font-weight:700">Цeнтрализация информации:</span> Все данные о оборудовании и его ремонте хранятся в одном месте, что облегчает доступ к информации и ее управление.</li>
                <li><span style="font-weight:700">Упрощение учета:</span> Пользователи могут легко добавлять новое оборудование, фиксировать время ремонта и оставлять комментарии, что упрощает процесс учета и контроля.</li>
                <li><span style="font-weight:700">Анализ данных:</span> Программа позволяет собирать и анализировать данные о ремонтах, что помогает выявлять тенденции, частые поломки и оптимизировать процессы обслуживания.</li>
                <li><span style="font-weight:700">Планирование технического обслуживания:</span> На основе собранных данных можно планировать профилактическое обслуживание и замены оборудования, что снижает риск неожиданных поломок</li>
                <li><span style="font-weight:700">Улучшение качества обслуживания:</span> Комментарии к ремонту помогают отслеживать проблемы и находить решения, что в конечном итоге улучшает качество обслуживания оборудования.</li>
                <li><span style="font-weight:700">Отчетность:</span> Приложение может генерировать отчеты о проведенных ремонтах, затраченном времени и списках оборудования, что упрощает процесс отчетности для руководства.</li>
                <li><span style="font-weight:700">Снижение затрат:</span> Эффективное управление ремонтом оборудования может привести к снижению затрат на обслуживание, так как позволит избежать неэффективного использования ресурсов.</li>
                <li><span style="font-weight:700">Интуитивно понятный интерфейс:</span> Если приложение разработано с удобным интерфейсом, пользователям будет проще и быстрее осваивать его, что сокращает время на обучение.</li>
                <li><span style="font-weight:700">Поддержка пользователей:</span> Возможность оставлять комментарии и примечания к каждому ремонту позволяет фиксировать важные детали, которые могут быть полезны в будущем.</li>
                <li><span style="font-weight:700">Доступность:</span> Если приложение доступно через интернет, пользователи могут получать доступ к информации о ремонтах и оборудовании из любого места, что особенно удобно для распределенных команд.</li>
            </ol>
        </div>
        В итоге, приложение "Учет ремонта оборудования" способствует повышению эффективности работы с оборудованием, улучшению качества обслуживания и снижению затрат, что делает его незаменимым инструментом для многих организаций.
    </p>
</div>
